.bg-color{
    background-color: #222831;
} 
.dev{
    color: #00ADB5;
}
.hire-me{
    background-color: #00ADB5;
}
.dowload-cv{
    background-color: #616d7e; 
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
}
